// // 廣告內容設定：出價設定
// .bidSetting{
//   margin: 0 auto;
//   outline: 1px solid red;
//   .eachOptionSetting{
//     display: none;
//     padding: 15px 5px;

//     .newBid{
//       input[type="text"]{display: block;}
//     }
//     .label{margin-top: 4px;}
//     .aloneCheck{display: block;}
//   }
// }