// 產品類別ai優化建議
.categoryOptByAI{
  position: relative;
  padding: 16px; margin: 8px 0 24px;
  border-radius: 16px;
  border: 2px solid var(--Grey-Grey-300);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  font-size: 16px;

  .headNav{
    display: flex; justify-content: space-between; align-items: center;
    margin: 0 0 16px;
    .opt_heading{ flex: 0 0 min-content;}
    .opt_nav{ 
      flex: 1 0 auto;
      font-size: 1.125em; color: var(--Grey-Grey-900);
      text-align: center;
      margin-right: 3.6em;
    }

  }
  .opt_heading{
    position: relative;
    padding:0 0 0 30px; white-space: nowrap;
    font-weight: 500;
    color: var(--Grey-Grey-800);
    &::before {
      content: ''; position: absolute; left: 0; top: 0;
      width: 24px;height: 24px;
      background: url(../images/icon_ai.svg) no-repeat 0 0;
      filter: saturate(0%) brightness(250%);
    }
  }
  .opt_processing{margin: 16px 0;}
  .opt_stopBtn{position: relative; left: 50%; translate: -50% 0;}

}
