// 圓角button
.roundBtn{
  padding: 0 1em; margin: 6px;
  border-radius: 1.5em;
  font-size: 1em;height: 2.4em; line-height: 2.5;
  
  &:is(a){ 
    display: inline-block;
    text-decoration: none; border: none;
    transition: .2s;
  }

  // 白底灰匡線
  &.white{
    color: var(--Ocean);
    background-color: var(--Grey-White);
    box-shadow: var(--Grey-Grey-500) 0 0 0 1px inset;
    &:hover, &:focus{box-shadow: transparent 0 0 0 1px inset, var(--Ocean) 0 0 0 2px;}
  }

  // 淺灰色底
  &.gray{
    color: var(--Ocean);
    background-color: $bg-color-pale;
    &:hover, &:focus{box-shadow: var(--Ocean) 0 0 0 2px;}
  }
  // 橘色底白字
  &.hilight{
    color: var(--Grey-White);
    background-color: var(--Orange);
    &:hover, &:focus{box-shadow: var(--Grey-White) 0 0 0 1px inset, var(--Orange) 0 0 0 2px;}
  }

  // 填寫小幫手
  &.showHelper{
    &::before{
      content: ''; display: inline-block; width: 24px;height: 24px;
      vertical-align: middle; margin-right: 4px; margin-top: -2px;
      background: url(../images/icon_quick_reference.svg);
    }
  }

}

// 上、下箭頭 button
button.arrowV{
  --btn_size: 32px;
  --arrow_size: 8px;
  --btn_bgc: var(--Grey-White);
  --arrow_color: var(--Ocean);

  position: relative;
  width: var(--btn_size); height: var(--btn_size); line-height: var(--btn_size);
  padding: 0; margin: 0; border-radius: 50%;
  background-color: var(--btn_bgc);
  transition: .2s;
  &::before{
    content: '';position: absolute; 
    left: calc(50% - var(--arrow_size)/2 - 1px); 
    top: calc(50% - var(--arrow_size)/2 - 3px);
    width: var(--arrow_size); height: var(--arrow_size);
    border: 2px solid var(--arrow_color);
    border-top: none; border-left: none;
    rotate: 45deg;
    transition:all .2s, rotate .4s;
  }
  &:hover, &:focus{
    --btn_bgc: var(--Ocean);
    --arrow_color: var(--Grey-White);
  }

  &.up{
    &::before {rotate: 225deg;top: calc(50% - var(--arrow_size)/2 + 1px);}
  }
}


.bottomControler{
  display: flex; justify-content: space-between;
  background-color: #fff;
  border-top: 1px solid var(--Grey-Grey-500);
  padding: 20px 24px;
  // &>*{ outline: 1px dashed #f008;outline-offset: -1px;}

  .roundBtn{ margin: 0 6px;
    &:first-child{ margin-left: 0;}
    &:last-child {margin-right: 0;}
  }

  @media screen and (min-width: $wwMaximum){
    padding-right: 48px;
  }

}

// 固定在頁面的下方
.fixBottomRow{
  z-index: 999;
  position: fixed; bottom: 0;right: 0; left: 0;
  padding-left: calc($sideBarWidth + 24px);
  transition: padding-left .4s linear;

}
.sideBar.hidden ~ .main .fixBottomRow { padding-left: calc( $sideBarWidthMini + 24px);}



.popMsg.generating{
  text-align: center;
  max-width: 540px;
  padding: 40px 24px;
  h3{ border: none;}

  .waiting{ margin: 16px auto;
    outline: 1px dashed #f008;
    outline-offset: -1px;
  }

}

.waiting{
  position: relative;
  width: 160px; height: 160px;
  span{
    position: absolute; 
    // left: 50%; top: 50%;
    border-radius: 50%;
    // opacity: .7;
    &:nth-child(1){
      width: 56px; height: 56px; background-color: #FF7600;
      left: 52px; top: 24px;
    }
    &:nth-child(2){
      width: 48px; height: 48px; background-color: #7511D2;
      left: 70px; top: 84px;
    }
    &:nth-child(3){
      width: 24px; height: 24px; background-color: #214E5D;
      left: 40px; top: 84px;
    }
  }
}