// 圓角button
.roundBtn{
  padding: 0 1em; margin: 6px;
  border-radius: 1.5em;
  font-size: 1em;height: 2.4em; line-height: 2.5;
  
  &:is(a){ 
    display: inline-block;
    text-decoration: none; border: none;
    transition: .2s;
  }

  // 白底灰匡線
  &.white{
    color: var(--Ocean);
    background-color: var(--Grey-White);
    box-shadow: var(--Grey-Grey-500) 0 0 0 1px inset;
    &:hover, &:focus{box-shadow: transparent 0 0 0 1px inset, var(--Ocean) 0 0 0 2px;}
  }

  // 淺灰色底
  &.gray{
    color: var(--Ocean);
    background-color: $bg-color-pale;
    &:hover, &:focus{box-shadow: var(--Ocean) 0 0 0 2px;}
  }
  // 橘色底白字
  &.hilight{
    color: var(--Grey-White);
    background-color: var(--Orange);
    &:hover, &:focus{box-shadow: var(--Grey-White) 0 0 0 1px inset, var(--Orange) 0 0 0 2px;}
  }

  // 填寫小幫手
  &.showHelper{
    &::before{
      content: ''; display: inline-block; width: 24px;height: 24px;
      vertical-align: middle; margin-right: 4px; margin-top: -2px;
      background: url(../images/icon_quick_reference.svg);
    }
  }

}
// ---------------------------------------------------------------------- //



// 上、下箭頭 button
button.arrowV{
  --btn_size: 32px;
  --arrow_size: 8px;
  --btn_bgc: var(--Grey-White);
  --arrow_color: var(--Ocean);

  position: relative;
  width: var(--btn_size); height: var(--btn_size); line-height: var(--btn_size);
  padding: 0; margin: 0; border-radius: 50%;
  background-color: var(--btn_bgc);
  transition: .2s;
  &::before{
    content: '';position: absolute; 
    left: calc(50% - var(--arrow_size)/2 - 1px); 
    top: calc(50% - var(--arrow_size)/2 - 3px);
    width: var(--arrow_size); height: var(--arrow_size);
    border: 2px solid var(--arrow_color);
    border-top: none; border-left: none;
    rotate: 45deg;
    transition:all .2s, rotate .4s;
  }
  &:hover, &:focus{
    --btn_bgc: var(--Ocean);
    --arrow_color: var(--Grey-White);
  }

  &.up{
    &::before {rotate: 225deg;top: calc(50% - var(--arrow_size)/2 + 1px);}
  }
}
// ---------------------------------------------------------------------- //



// 關閉（Ｘ） button
button.colseThis{
  --btn_size: 32px;
  --bar_width: 14px;
  --bar_height: 2px;
  --btn_bgc: var(--Grey-Grey-100);
  --bar_bgc: var(--Grey-Grey-700);

  position: relative;
  width: var(--btn_size); height: var(--btn_size); line-height: var(--btn_size);
  padding: 0; margin: 0; border-radius: 50%;
  background-color: var(--btn_bgc);
  transition: .2s;
  &::before, &::after{
    content: '';position: absolute; 
    left: calc(50% - var(--bar_width)/2 ); 
    top: calc(50% - var(--bar_height)/2 );
    width: var(--bar_width); height: var(--bar_height);
    background-color:  var(--bar_bgc);
    transition: .2s;
  }
  &::before {rotate: 45deg;}
  &::after {rotate: -45deg;}
  &:hover, &:focus{
    --bar_width: 16px;
    --btn_bgc: var(--Ocean);
    --bar_bgc: var(--Grey-White);
    box-shadow: var(--Ocean) 0 0 0 2px;
  }
}
// ---------------------------------------------------------------------- //



// AI優化 button
button.aiOptimise {
  background-color: var(--Purple_Light);
  color: var(--Purple);

  margin: 0; padding: 0 .4em;
  box-shadow: none;
  width: calc(3.5em + 30px); height: calc(2.4em - 4px); line-height: calc(2.4em - 4px);
  transform: translateX(-100%);
  &::before {
    content: ''; 
    display: inline-block; width: 24px;height: 24px;
    vertical-align: middle; margin-top: -4px; margin-right: 6px;
    background: url(../images/icon_ai.svg) no-repeat 0 0;
  }

  &:hover, &:focus{
    background-color: var(--Purple);
    color: var(--Grey-White);
    box-shadow: none;
    &::before { filter: brightness(900%);}
  }

  &[disabled] {
    background-color: var(--Grey-Grey-300);
    color: var(--Grey-Grey-700);
    
    &::before { filter: saturate(0%) brightness(2.5);}
    &:hover, &:focus{ box-shadow: none;}
  }
}
// ---------------------------------------------------------------------- //



// 停止優化 button
button.opt_stopBtn {
  padding: 0 24px;
  background-color: var(--Purple_Light);
  color: var(--Purple);
  font-weight: 500;
  &::before{
    content: ''; display: inline-block;
    vertical-align: middle; margin:-2px 5px 0 0;
    width: 16px;height: 16px;
    border-radius: 2px;
    background-color: var(--Purple);
  }
  &:hover{box-shadow: var(--Purple_Light) 0 0 0 2px;}
  &:focus{box-shadow: var(--Purple) 0 0 0 2px;}
}
// ---------------------------------------------------------------------- //



// 內容優化中：三個點點動畫
.opt_processing{
  position: relative;
  padding: 8px;
  &>i{
    --ispeed : 1s;
    content: ''; position: absolute;  left: auto;
    top: calc(50% - 3px); 
    width: 6px;height: 6px; border-radius: 50%;
    &:nth-child(1){
      background-color: var(--Orange);
      margin-left: 12px; 
      animation: dotsLift infinite var(--ispeed) 0s ease-in-out;
    }
    &:nth-child(2){
      background-color: var(--Ocean);
      margin-left: 22px; 
      animation: dotsLift infinite var(--ispeed) .2s ease-in-out;
    }
    &:nth-child(3){
      background-color: var(--Purple);
      margin-left: 32px; 
      animation: dotsLift infinite var(--ispeed) .4s ease-in-out;
    }
  }
}

@keyframes dotsLift {
  0%   {translate: 0 0;}
  35%  {translate: 0 -10px;}
  70%  {translate: 0 0;}
}
// ---------------------------------------------------------------------- //




// 
.bottomControler{
  display: flex; justify-content: space-between;
  background-color: #fff;
  border-top: 1px solid var(--Grey-Grey-500);
  padding: 20px 24px;
  // &>*{ outline: 1px dashed #f008;outline-offset: -1px;}

  .roundBtn{ margin: 0 6px;
    &:first-child{ margin-left: 0;}
    &:last-child {margin-right: 0;}
  }

  @media screen and (min-width: $wwMaximum){
    padding-right: 48px;
  }

}
// ---------------------------------------------------------------------- //



// 固定在頁面的下方
.fixBottomRow{
  z-index: 999;
  position: fixed; bottom: 0;right: 0; left: 0;
  padding-left: calc($sideBarWidth + 24px);
  transition: padding-left .4s linear;

}
.sideBar.hidden ~ .main .fixBottomRow { padding-left: calc( $sideBarWidthMini + 24px);}
// ---------------------------------------------------------------------- //





// button 群組
.btnDv.style24{
  display: flex; justify-content: space-between;
  gap: 16px; padding: 0; margin: 40px auto 10px;

  button, input[type="button"], input[type="submit"], nput[type="reset"]{
    flex: 1 1 auto; margin:5px 0;
    border-radius: 8px;
    font-size: 1.2em;
    background-color: var(--Grey-White); color: var(--Grey-Grey-800);
    box-shadow: var(--Grey-Grey-500) 0 0 0 1px inset;
    &.confirm{
      background-color: var(--Purple); color: var(--Grey-White);
      box-shadow: none;
    }
  }
}
// ---------------------------------------------------------------------- //


// 
label.noshow{
  position: relative;
  margin:0; padding: 2px 0 0 2em;
  line-height: 1.5;
  cursor: pointer;
  input[type="checkbox"] {
    position: absolute; left: 0; top: 0;
    width: 1.5em; height: 1.5em; margin: 0 ; 
    border-radius: 5px;
  }

}
// ---------------------------------------------------------------------- //


// 彈出訊息
.popMsg {
  &.generatConfirm, &.generating {
    position: fixed; left: 50vw; width: 460px;
    translate: -50% 0;
    margin: 0; padding: 40px 24px; 
    border-radius: 16px;
    h3 {
      margin: 15px auto 0;
      font-size: 1.6em;font-weight: 500;
      border: none;
    }
    .popBody{
      border: none; font-size: 1.067em;

      &+.btnDv{
        border: none;
      }
    }
  }

  //您確定要生成內容嗎？
  &.generatConfirm{
    
    h3 {
      margin: 15px auto 0;
      font-size: 1.6em;font-weight: 500;
      border: none;
    }
    .popBody{
      border: none; font-size: 1.067em;

      &+.btnDv{
        border: none;
      }
    }
  }


  // AI 產品型錄生成中
  &.generating{
    text-align: center;
    

  
    .waiting{ margin: 16px auto;}
    p{ font-size: 1.125em;}
  
  }



}
// ---------------------------------------------------------------------- //



// 「AI 產品型錄生成中」的動畫
.waiting{
  --running_speed: 1400ms;
  position: relative;width: 160px; height: 160px;
  span{
    position: absolute; 
    border-radius: 50%; opacity: .7;
    &:nth-child(1){
      width: 56px; height: 56px; background-color: #FF7600;
      left: 52px; top: 24px;
      animation:var(--running_speed) infinite disk1-run;
    }
    &:nth-child(2){
      width: 48px; height: 48px; background-color: #7511D2;
      left: 70px; top: 84px;
      animation:var(--running_speed) infinite disk2-run;
    }
    &:nth-child(3){
      width: 24px; height: 24px; background-color: #214E5D;
      left: 40px; top: 84px;
      animation:var(--running_speed) infinite disk3-run;
    }
  }
}
@keyframes disk1-run {
  0%  { left: 52px; top: 24px;}
  50% { left: 52px; top: 80px;}
  100%{ left: 52px; top: 24px;}
}
@keyframes disk2-run {
  0%  { left: 70px; top: 84px;}
  50% { left: 42px; top: 28px;}
  100%{ left: 70px; top: 84px;}
}
@keyframes disk3-run {
  0%  { left: 40px; top: 84px;}
  50% { left: 96px; top: 52px;}
  100%{ left: 40px; top: 84px;}
}
// ---------------------------------------------------------------------- //
