// 產品類別ai優化建議
.optimizedByAI{
  position: relative;
  padding: 16px; margin: 8px 0 24px;
  border-radius: 16px;
  // border: 2px solid var(--Grey-Grey-300);
  box-shadow: 0 2px 8px 0 rgba(0 0 0 / .2);
  font-size: 16px;

  .headNav{
    display: flex; justify-content: space-between; align-items: center;
    margin: 0 0 16px;
    .opt_heading{ flex: 0 0 min-content;}
    .opt_nav{ 
      flex: 1 0 auto;
      font-size: 1.125em; color: var(--Grey-Grey-900);
      text-align: center; line-height: 1;
      margin-right: 3.6em;
      button{vertical-align: middle; box-shadow: none;}
    }
    .opt_tab{
      flex: 0 0 auto;
      display: flex; justify-content: center;
      padding: 3px;
      background-color: var(--Purple_Light);
      border-radius: 2em;
      button.tabItem{
        font-size: 1rem; white-space: nowrap;
        height: 1.9em; line-height:1.9; margin: 0 3px; padding: 0 1em;
        background-color: transparent; color: var(--Purple);
        box-shadow: none;
        border-radius: 2em;
        &:last-child{margin-right: 0;}
        &:first-child {margin-left: 0;}
        &:hover{ background-color: #fff;}
        &.active{
          background: var(--Purple); color: var(--Grey-White);
          box-shadow: var(--Purple) 0 0 0 4px;
        }
      }
    }
  }
  // [優化建議]
  .opt_heading{
    position: relative;
    padding:0 0 0 30px; white-space: nowrap;
    font-weight: 500;
    color: var(--Grey-Grey-800);
    &::before {
      content: ''; position: absolute; left: 0; top: 0;
      width: 24px;height: 24px;
      background: url(../images/icon_ai.svg) no-repeat 0 0;
      filter: saturate(0%) brightness(250%);
    }
  }
  // 內容優化中 animation
  .opt_processing{margin: 16px 0;}

  // [停止優化]
  .opt_stopBtn{position: relative; left: 50%; translate: -50% 0;}

  .optionPool{
    --tinge: var(--Grey-Grey-700);
    --tingelight: var(--Grey-Grey-500);
    --checked: var(--Purple);

    width: 100% !important; margin: 0;
    &>label{
      padding: .65em 1em .6em 44px; margin: 8px;
      line-height: 1.4; border-radius: 1.5em;
      background-color: var(--Grey-Grey-100);
      color: var(--Grey-Grey-900);
      box-shadow: none;

      &:hover{ box-shadow: var(--tingelight) 0 0 0 1px;}

      &.isSelected{
        background-color: var(--Purple_Light);
        &:hover{ box-shadow: var(--Purple) 0 0 0 1px;}
      }

      // 複選
      &:has(input[type="checkbox"]) {
        &::before { 
          left: 16px; top: .65em; margin:0;
          width: 20px;height: 20px; border-radius: 4px;
        }
        &::after { left: 18px; margin-top: -6px; }
        &.isSelected{
          &::before {  border-color: var(--checked);}
        }
      }

      // 單選
      &:has(input[type="radio"]){
        &::before {
          left: 12px; margin: 0; top: .65em;
          width: 20px; height: 20px;
        }
      }

    }

    &.block{
      &>label{margin: 4px;
        &+label{ margin-top: 16px;}
      }
    }
  }

  .funcButtons{
    margin: 16px 0 0;
    display: flex; justify-content: space-between;
    button{ margin: 0;}
  }

}



// AI 優化 button（button.aiOptimise） 定位

// 產品類別
// .multiCategory{
//   .inputAndBtns{
//     position: relative;
//     input[type="text"]:has(~.aiOptimise) {padding-right: 5em;}
//     button.aiOptimise{
//       position: absolute; left: calc(100% - 3.5em - 40px); top: 6px; right: auto; 
//       margin: 0;
//       transform: translateX(-100%);
//     }
//   }
// }
// 20241213 delete

// 主要特點
.keyFeatureEditor{
  .aiOptimise{position: absolute; z-index: 9; right: 4px;bottom: auto;}
  .fr-box + .aiOptimise{
    translate: 0 calc(-100% - 4px);
  }
  .textCount + .aiOptimise { 
    translate: 0 calc(-100% - 1em - 11px);
  }

  .recomText{
    position: relative;
    line-height: 1.6; max-height: 12.5em;
    overflow-y: auto;
    &::before {
      content: '';  display: block; width: 100%; height: 20px;
      position: sticky; top: 90%;
      background-image: linear-gradient(to bottom, rgb(255 255 255 / 0) 0%, rgb(255 255 255  / .96) 90%);
    }

    article{
      margin: -20px 0 0;
      padding: 0 8px 22px;
    }

  }
}

// 產品型錄設定: 型錄內容設定 
// .catalogSetting : 2024 增加的 classname 
.catalogSetting {
  fieldset{
    .selectImitating {margin: 0;}
    table.formLayout{
      width: 100%;
      td{
        &:has(.aiOptimise) {
          position: relative;
          // outline: 1px solid #f003;
          // outline-offset: -1px;
        }
        .aiOptimise{ position: absolute; right: 3px; top: 11px;}
        input[type="text"].fullWidth { 
          width: calc(100% - 20px);
          &:has(+.aiOptimise) {
            margin: 3px 0;
            padding-right: calc(6em + 24px);
            width: calc(100% - 6em - 32px);
          }
        }
        textarea.fullWidth {width: calc(100% - 20px);}

        // 產品關鍵詞
        .keywordPool{
          background-color: var(--Grey-Grey-100);
          margin-right: 3px;          
          &:has(+.aiOptimise){padding-right: calc(5em + 28px);}
          &+.aiOptimise {position: absolute; right: 9px; top: 12px;}
        }
        
        // 自選產品分類
        .selectImitating{width: 100%;}
      }
    }
  }
}

