.steps {
  margin-bottom: 24px;
  padding: 8px 20px 8px 40px;
  background: var(--Grey-White);
  border-bottom: 1px solid var(--Grey-Grey-500);

  ol{ 
    list-style: none; margin: 0; padding: 0;
    line-height: 1; font-size: 16px;
    display: flex;
    &>li{
      --bgc: var(--Grey-Grey-500);
      --color: var(--Grey-Grey-700);

      color: var(--Grey-Grey-800);
      margin-right: 10px;
      &::before{
        display: inline-block; margin-right: 10px; vertical-align: middle;
        text-align: center;font-size: 1.25em; font-weight: 500;
        width: 1.6em; height: 1.6em; line-height: 1.6;
        border-radius: 50%;
        color: var(--color);
        box-shadow: var(--bgc) 0 0 0 2px inset;
      }
      &::after{
        content: '';display: inline-block; margin-left: 10px; vertical-align: middle;
        width: 6vw; height: 2px;
        background-color: var(--Grey-Grey-500);
      }
      &:nth-child(1)::before{ content: '1';}
      &:nth-child(2)::before{ content: '2';}
      &:nth-child(3)::before{ content: '3';}
      &:nth-child(4)::before{ content: '4';}
      &:nth-child(5)::before{ content: '5';}
      
      &.now{
        --bgc: var(--Orange);
        --color: var(--Grey-White);

        color: var(--Grey-Grey-900);
        &::before{
          box-shadow: none;
          background-color: var(--bgc); 
        }
      }
      &:last-child {
        &::after { display: none;}
      }
    }
  }

  @media screen and (min-width: $wwMedium){
  
  }
}

.pageHeading:has(+.steps) { margin-bottom: 0;}